#todo-head
{
	font-family: "League Spartan";
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #8a98ad;
}

#todo-sub
{
	font-family: "Montserrat";
	letter-spacing: 5;
	color: #404247;
}

#todoList
{
	display: inline-block;
	margin: 2% 35% 10%;
	font-family: "Montserrat";
	color: #404247;
}

#todoInput
{
	font-family: "Montserrat";
}

.todo-body
{
	margin-top: 8%;
}

#submit-button
{
	color: #8a98ad;
	background-color: transparent;
	border-color: #8a98ad solid;
	border-radius: 5px;
	padding: 2px 5px;
	font-family: "Montserrat";
}